<div class="container">
	<header id="header" class="jumbotron">
		<div class="container">
			<h1>Ez Sheet Adder</h1>
		</div>
	</header>
</div>

<div class="container">
	<form action="/runGoogleAdder" method="post">
		<input type="text" name="url" placeholder="Enter the website root URL">
		<button type="submit">Run Google Adder</button>
	</form>
</div>