<div class="container">
	<form action="/test" method="post">
		<div class="form-group">
			<label for="url">Website url</label>
			<input type="text" name="url" id="url" placeholder="http://www.footbridgemedia.com/" class="form-control">
			<p class="help-block">Please include full url: ex: "http://www.google.com/"</p>
		</div>
		<div class="form-group">
			<label for="company">Company Name</label>
			<input type="text" name="company" class="form-control" placeholder="Footbridge Media">
			<p class="help-block">Enter the Company name as seen in HighRise"</p>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>