<div class="container">
	<header id="header" class="jumbotron">
		<div class="container">
			<h1>{{company.name}}</h1>
			<h2>Keywords</h2>
			{{#each company.keywords}}
				<p>{{keyword}}</p>
			{{/each}}
		</div>
		<a class="btn btn-default" href="/results">Results Page</a>
	</header>
</div>

<div class="container">
	<form action="/keyword/new" method="post">
		<div class="form-group">
			<label for="keyword">Add New Keyword</label>
			<input type="text" name="keyword" id="keyword" placeholder="Plumbing Contractor" class="form-control">
			<p class="help-block">Please enter one keyword: "Plumbing"</p>
		</div>
		<div class="form-group">
			<input type="hidden" name="websiteRoot" id="websiteRoot" class="form-control" value="{{company.url}}">
		</div>
		<div class="form-group">
			<input type="hidden" name="companyID" id="companyID" class="form-control" value="{{company._id}}">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>